ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    float: right;
    margin-right: 4cm;
    /* margin: auto; */
}
  
li a:hover:not(.active) {
    background-color: #111;
}

.icon {
    z-index: 10;
    position: absolute;
    height: 140px;
    width: 100px;
}

.usericon{
    z-index: 10;
    position: absolute;
    height: 35px;
    width: 55px;
    margin-left: 37cm;
}
img{
    width: 50px;
    height: 50px;
    margin-left: 4mm;
    border-radius: 50%;
    z-index: 10;
    position: absolute;
}

h1{
    margin-left: 13cm;
}

.content{
    background-color: gainsboro;
    border: none;
    width: 160vh;
    height: 30vw;
    margin-top: 1cm;
    margin-left: 4cm;
}

td{
    text-align: center;
    padding: 3mm;
    font-size: larger;
    color: #111;
    font-weight: 500;
}

th{
    /* border : solid black; */
    padding: 7mm;
    margin: 2mm;
}