body{
    background-color: rgb(2, 2, 52);
}
.whole{
    /* padding: 1cm; */
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    border: 1mm solid rgb(248, 244, 244);
    margin: 0cm;
    margin-left: 11cm;
    margin-top: 2cm;
    padding: 3mm;
    background-color: transparent;
    height: 550px;
    width: 450px;
    position: absolute;
    z-index: 20;
    backdrop-filter: blur(5px);
}
h1{
    color: aliceblue;
    text-align: center;
}

.h1{
    z-index: 10;
    position: absolute;
    margin-bottom: 17cm;
    color: aliceblue;
}

input[type=text]{
    width: 100%;
    background-color: azure;
    color: darkblue;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    display: inline-block;
    box-sizing: border-box;
    
}
input[type=email]{
    width: 100%;
    background-color: azure;
    color: darkblue;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor:pointer;
    display: inline-block;
    box-sizing: border-box;
    
}

textarea{
    width: 100%;
    height: 130px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: azure;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    resize: none;
}

.block{
    display: block;
    width: 100%;
    border: none;
    background-color:cornflowerblue;
    color: azure;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.block:hover {
    background-color: gray;
    color: aliceblue;
}

.email{
   z-index: 10; 
   border: 0.5mm ;
   color: aliceblue;
   margin-right: 24cm;
   margin-bottom:7cm ;
   padding: 2mm;
   /* padding-right: 1mm; */
   /* padding-left: 1mm; */
   position: absolute;
   font-size: 40px;
   background-color: rgba(115, 160, 195, 0.425);
   backdrop-filter: blur(8px);
   border-radius: 120%;
   align-items: center;
  /* -webkit-filter: blur(8px); */

}

.mail{
    z-index: 10;
    border:none;
    color: aliceblue;
    margin-right: 16cm;
    margin-bottom: 7cm;
    padding: 3mm;
    position:absolute;
    font-size: 20px;
    backdrop-filter: blur(8px);
    border-radius: 10%;
}

.mail:hover {
    font-size: 24px;
    background-color: transparent;
    color: azure;
    border: none;
    padding: 0mm;
    /* margin: auto; */
    border-radius: 0%;
    backdrop-filter: blur(3px);
    /* text-decoration: underline; */
}
.call{
   z-index: 10; 
   border: 0.5mm ;
   color: aliceblue;
   background-color: rgba(101, 120, 136, 0.425);
   margin-right: 24cm;
   margin-bottom:1cm ;
   padding: 1mm;
   position: absolute;
   font-size: 40px;
   backdrop-filter: blur(8px);
   border-radius: 120%;
}
.no{
    z-index: 10;
    position: absolute;
    color: aliceblue;
    margin-right: 17cm;
    margin-bottom: 1cm;
    padding: 3mm;
    font-size: 20px;
    backdrop-filter: blur(8px);
    border-radius: 10%;
}
.no:hover{
    font-size: 24px;
    background-color: transparent;
    color: azure;
    border: none;
    padding: 0mm;
    /* margin: auto; */
    border-radius: 0%;
    backdrop-filter: blur(3px);
    /* text-decoration: underline; */
}

.location {
    z-index: 10; 
    border: 0.5mm ;
    color: aliceblue;
    background-color: rgba(115, 160, 195, 0.425);
    margin-right: 24cm;
    margin-top:6cm ;
    padding: 3mm;
    position: absolute;
    backdrop-filter: blur(8px);
    border-radius: 120%;
}

.place{
    z-index: 10;
    position: absolute;
    color: aliceblue;
    margin-right: 13cm;
    margin-top: 6cm;
    padding: 3mm;
    font-size: 20px;
    backdrop-filter: blur(8px);
    border-radius: 10%;
}
.place:hover{
    font-size: 23px;
    background-color: transparent;
    color: azure;
    border: none;
    padding: 0mm;
    /* margin: auto; */
    border-radius: 0%;
    backdrop-filter: blur(3px);
    /* text-decoration: underline; */
}