* {
  margin: 0;
  padding: 0;
  /* font: 1em sans-serif; */
}
:root {
  --bg-color: #333;
  --text-color: #ffffff;
  --header-bg: #000000;
  --header-text: #fff;
  --button-bg: #333;
  --button-text: #ffffff;
  --fa-color: rgb(255, 255, 255);
}

body {
  /* font-family: Arial, sans-serif; */

  font-weight: 600;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Montserrat";
}

.contact {
  font-family: "Montserrat";
  padding: 4vw 5vw;
  margin: auto;
  max-width: 70%;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  border: 2px solid #222;
  background-color: #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h1 {
  font-style: oblique;
  font-size: 3vw;
}

.project {
  margin: 20px 0;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 1.5vw;
  background-color: #000;
}

form label {
  margin: 5px 0;
}

form input,
form textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #000000;
}

form button {
  padding: 10px;
  background-color: rgb(204, 25, 25);
  color: var(--button-text);
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

form button:hover {
  background: #443a3a;
  color: #ffffff;
}

.icon {
  text-align: center;
}

div.icon .fa {
  padding: 0.5vw 2vw;
  font-size: 1vw;
  width: 5px;
  text-align: center;
  text-decoration: none;
  margin: 3px;
  border-radius: 50%;
}
.fa-facebook {
  color: rgb(255, 255, 255);
}
.fa-twitter {
  color: white;
}
.fa-youtube {
  color: white;
}
.fa-instagram {
  color: white;
}
.fa-linkedin {
  color: white;
}
.fa-github {
  color: rgb(255, 255, 255);
}
.fa-envelope {
  color: rgb(255, 255, 255);
}
.fa-phone {
  color: white;
}

.fa-toggle-on {
  background-color: none;
  font-size: 2rem;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  /* text-align: center; */
  width: 100%;
}

.flex-item-left {
  padding-top: 5vw;
  flex: 50%;
  color: var(--text-color);
}

.flex-item-right {
  /* padding: 10px; */
  flex: 50%;
}
.cnt {
  text-align: center;
  padding: 0 0 5vw 0;
  font-size: 2rem;
  font-weight: 700;
}
::placeholder {
  color: #000;
}
.da {
  /* padding: 0  2vw; */
  font-size: 1rem;
  position: absolute;
  /* padding-top: 20px; */
  /* width: 5px; */
  /* text-align: left; */
  /* text-decoration: none; */
  /* margin: 3px ; */
  /* border-radius: 50%; */
  /* color: #000; */
  /* padding: 2rem; */
  color: var(--text-color);
}
.MAIL {
  padding-left: 2vw;
  font-size: 1rem;
  /* float: right; */
  position: relative;
  font-family: "Montserrat";
}
.PHN {
  font-size: 1rem;
  position: relative;
  /* float: right; */
  font-family: "Montserrat";
  padding-left: 2vw;
}
.adds {
  font-size: 1rem;
  /* float: right; */
  position: relative;
  font-family: "Montserrat";
  padding-left: 2vw;
}

#message {
  /* width: 100px; */
  height: 10vh;
}
