/* style.css */
body {
  background-color: #333;
  color: #f2f2f2;
  font-family: Arial, sans-serif;
  padding: 20px;
}
.question-container {
  background-color: #444;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.question-container label {
  font-weight: bold;
  color: #ff9800;
}
.question-container input[type="text"] {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: #f2f2f2;
}
/* input[type="submit"] {
  background-color: #ff9800;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
input[type="submit"]:hover {
  background-color: #e68900;
} */

/* style.css */
.button-style {
  background-color: #ff9800; /* Green background color */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
  text-align: center; /* Center text */
}

.button-style:hover {
  background-color: #45a049; /* Darker green on hover */
}
