
        body {
          background: linear-gradient(to bottom left, #cc0099 0%, #000066 95%);
            font-family: Arial, sans-serif;
            margin: 0;
        }

        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #333;
            padding: 7px 20px;
        }
        .navbar .logo {
            color: white;
            font-size: 20px;
            text-align: center;
        }
        .dp{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
        .navbar .nav-links {
            display: flex;
            gap: 25px;
        }
        .navbar .nav-links a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        .navbar .search-box {
            display: flex;
            gap: 5px;
        }
        .navbar .search-box input[type="text"] {
            padding: 5px;
            font-size: 16px;
        }
        .navbar .search-box button {
            padding: 5px 10px;
            font-size: 16px;
            background-color: #555;
            color: white;
            border: none;
            cursor: pointer;
        }
        .navbar .search-box button:hover {
            background-color: #777;
        }
        .flex-container {
            display: flex;
            flex-direction: row;
            font-size: 30px;
            text-align: center;
            width: 100%;
        }

.flex-item-left {
  background-color: #333;;
  color: #ffffff;
  padding: 1vw;
  flex: 25%;
}

.flex-item-right {
  background: linear-gradient(to bottom left, #cc0099 0%, #000066 95%);
  padding: 10px;
  flex: 75%;
}

/* Responsive layout - makes a one column-layout instead of a two-column layout
@media (max-width: 800px) {
  .flex-item-right, .flex-item-left {
    flex: 100%;
  } 
}*/


.prof
{
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}
.flex-containers {
  display: flex;
  flex-wrap: wrap;
}

.flex-containers .sub {
  background-color: #f1f1f1;
  margin: 2vw;
  width: 10vw;
  padding: 1.5vw;
  text-align: center;
  font-size: 1.5vw;
  border: 5px groove rgb(174, 16, 156);
  text-align: center;
  justify-content: center;
}
.menu{
 cursor: pointer;
 z-index: 100;
}