body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0000004c;
}
.leckerli-one-regular {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: italic;
}

.quiz {
  font-family: "Leckerli One", cursive;
  color: rgb(255, 255, 255);
  font-size: 1.4vw;
  padding-left: 1vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  position: relative;
  width: 100vw;
  margin: 0;
}
.logo {
  margin-left: 1.5vw;
}

.nav {
  flex: 1;
  text-align: right;
  margin-right: 1vw;
}

.nav a {
  margin: 0 15px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-weight: bold;
}

.profile {
  position: relative;
}

.profile-icon {
  width: 3vw;
  cursor: pointer;
  margin-right: 1.5vw;
  border-radius: 50%;
}

.popup {
  display: none;
  position: absolute;
  top: 54px;
  right: 0px;
  width: 230px;
  background: rgb(0, 0, 0);
  border: 01px solid #000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1.5vw;
  z-index: 1000;
  color: #ddd;
}

.popup.active {
  display: block;
}

.profile-image {
  width: 5vw;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  margin: auto;
  display: block;
}

.names {
  margin: 0;
  font-size: 1.5vw;
  padding: 0.5vw;
  text-align: center;
}

.popup ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
}

.popup ul li {
  margin: 10px 0;
}

.popup ul li a {
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.popup ul li a:hover {
  text-decoration: underline;
}

.container {
  /* width: 100vw; */
  /* max-width: 1200px; */
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  height: 90vh;
  flex-direction: row;
}
.left-container {
  color: #000000;
  padding: 10vw 2vw;
  margin-left: 2vw;
  flex: 35%;
  justify-content: center;
  align-items: center;
}
.right-container {
  background-color: #00000000;
  padding: 5vw;
  flex: 65%;
  margin: auto;
}
.left-container h1 {
  color: #333;
  margin-bottom: 20px;
}
.left-container p {
  font-size: 18px;
  margin-bottom: 20px;
}
.signup-buttons {
  display: inline-block;
  /* width: 2vw; */
  margin-right: 10px;
  padding: 15px 25px;
}
.signup-buttons button {
  display: inline-block;
  /* width: 2vw; */
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: #ddd;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
}
.signup-buttons :hover {
  background: linear-gradient(to right, #ff105f, #ffad06);
}

.typewriter-container {
  text-align: center;
  margin-bottom: 30px;
}
.typewriter-text {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  overflow: hidden;
  border-right: 0.15em solid #333;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 5.5s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #333;
  }
}

.form-toggle {
  display: flex;
  justify-content: space-between;
}

.form-toggle button {
  width: 50%;
  padding: 10px 0;
  border: none;
  background-color: #f0f0f000;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
}

.form-toggle button.active {
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: white;
  font-weight: bold;
}

.form-container {
  display: flex;
  width: 220%;
  transition: transform 0.3s ease-in-out;
}

.left {
  width: 46.5%;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 5px;
}

.right {
  width: 50%;
  padding: 20px;
  box-sizing: border-box;
  padding-left: 21px;
}

.form-content h2 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
}

.form-content input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}
.form-content #role {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-bottom: 1px solid #ffffff;
  background-color: #333;
  background: transparent;
  color: #ffffff;
}

.form-content #role option {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #333;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  color: #ffffff;
}

.form-content ::placeholder {
  color: #ffffff;
}

.form-content button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ff105f, #ffad06);
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
}

.form-content p {
  margin: 20px 0 0;
  font-size: 14px;
  color: #555;
}

.form-content a {
  color: #ff8000;
  text-decoration: none;
  right: 0px;
}

.form-content a:hover {
  text-decoration: underline;
  color: #d00000;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.736);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  border: 2px solid white;
}

.popup-box {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 35px 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: none;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 14px;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
}
